@model IEnumerable<Lab4.Position>

@{
    ViewData["Title"] = "Посада";
}
@if (@ViewBag.PositionId == null) {
    <h1>Посади</h1>
}
else
{
    <h1>Детальніше про посаду</h1>
}

<p>
    @if (@ViewBag.PositionId == null) { 
        @Html.ActionLink("Додати нову посаду", "Create", new { PositionId = @ViewBag.PositionId })
    } else {
        @Html.ActionLink("Усі посади", "Index", new { })
    }
</p>
<table class="table" id="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PositionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PositionName)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Salary)*@
                @item.Salary.ToString("N2")
            </td>
            <td>
                @if (@ViewBag.PositionId == null) {
                    <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a>
                    <span>|</span>
                    <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>


@if (@ViewBag.PositionId == null)
{
    <div align="center" class="container">
        <div id="chartdiv"></div>
    </div>
    @section scripts{
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script>
            google.charts.load('current', {'packages': ['corechart']});
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
                $.get('/api/Chart/JsonDataSalaryPerPosition', function(JsonDataSalaryPerPosition) {
                    data = google.visualization.arrayToDataTable(JsonDataSalaryPerPosition, false);
                    var tableWidth = document.getElementById('table').clientWidth;
                    console.log(tableWidth);
                    var option = {
                        title: "Порівняння зарплати на кожній посаді",
                        width: tableWidth,
                        height: 1000,
                        hAxis: {
                          title: 'Зарплата',
                          minValue: 0,
                        },
                        vAxis: {
                          title: 'Посада'
                        },
                        bars: 'horizontal'
                    };
                    chart = new google.visualization.BarChart(document.getElementById('chartdiv'));
                    chart.draw(data, option);
                })
            }

        </script>
    }
}