@model IEnumerable<Lab4.Department>

@{
    ViewData["Title"] = "Кафедри за факультетом";
}
@if (@ViewBag.FacultyName == null)
{
    <h1>Усі кафедри</h1>
}
else
{
    <h1>Список кафедр за факультетом: @ViewBag.FacultyName</h1>
}
<p>
    @*<a asp-action="Create" asp-route-id="@ViewBag.FacultyId">Додати нову кафедру</a>*@
    @Html.ActionLink("Додати нову кафедру", "Create", new { facultyId = @ViewBag.FacultyId })
</p>
<table class="table" id="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentName)
            </th>
            @if (@ViewBag.FacultyName == null)
            {
                <th>
                    @Html.DisplayNameFor(model => model.Faculty)
                </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentName)
            </td>
            @if (@ViewBag.FacultyName == null)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Faculty.FacultyName)
                </td>
            }
            <td>
                @Html.ActionLink("Редагувати", "Edit", new { id = @item.Id, facultyId = @ViewBag.FacultyId }) |
                @*<a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |*@
                <a asp-action="Details" asp-route-id="@item.Id">Детальніше</a> |
                @Html.ActionLink("Видалити", "Delete", new { id = @item.Id, facultyId = @ViewBag.FacultyId })
            </td>
        </tr>
}
    </tbody>
</table>


<div align="center" class="container">
    <div id="chartdiv"></div>
</div>

    @section scripts{
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script>
            google.charts.load('current', {'packages': ['corechart']});
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
                $.get('/api/Chart/JsonDataPeopleByDepartment', function(JsonDataPeopleByDepartment) {
                    var FId = '@(ViewBag.FacultyId)';             
                    var jsonData = JsonDataPeopleByDepartment.filter(
                        data => (FId==''|| data[0]==FId || data[0]=="0"));
                    JsonDataPeopleByDepartment.forEach(elem => elem.shift()); // because new array are just links to elements of an old one

                    data = google.visualization.arrayToDataTable(jsonData, false);
                    var tableWidth = document.getElementById('table').clientWidth;

                    var option = {
                        title: "Розподіл працівників за кафедрами",
                        width: tableWidth,
                        height: 400
                    };
                    chart = new google.visualization.PieChart(document.getElementById('chartdiv'))
                    chart.draw(data, option);
                })
            }
        </script>
    }
